* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Sriracha", cursive;
  margin: 0;
  background-color: black;
}

:root {
  --title: rgb(60, 149, 209);
  --credits: rgb(0, 0, 0);
  --backgroundsection: rgba(166, 144, 136, 0.747);
  --histoire: rgb(255, 255, 255);
  --path: rgb(240, 240, 186);
  --trajet: orange;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(../images/svg/ciel.svg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.title-first {
  position: absolute;
  top: -10vh;
  font-size: 10vw;
  position: absolute;
  color: var(--title);
  text-align: center;
  z-index: 3;
}

.credits-bottom {
  font-size: 1vw;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: var(--credits);
  width: 900px;
  z-index: 3;
}

section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fantome_content {
  position: absolute;
  width: 250px;
  height: 300px;
  top: 260px;
  z-index: 3;
}

.bi-chevron-double-down {
  position: absolute;
  z-index: 3;
  top: 580px;
}

.homme_qui_tombe {
  width: 800px;
  position: absolute;
  top: 150vh;
  right: 100px;
}

.ixy_vole {
  position: absolute;
  width: 250px;
  transform: rotate(20deg);
}

.ixy_feuille {
  position: absolute;
  top: 330vh;
  width: 300px;
  left: 60vw;
  transform: rotate(-10deg);
}

.ixy_pierre {
  position: absolute;
  left: 31vw;
  transform: rotate(5deg);
  top: 540vh;
}

.ixy_chateau {
  position: absolute;
  left: 500px;
}

.roche {
  position: absolute;
  top: 570vh;
  width: 100px;
  left: 57vw;
}

.feuille {
  width: 70vw;
  position: absolute;
  left: 50vw;
  top: 200vh;
}

.racine {
  position: absolute;
  width: 80vw;
  right: -13vw;
  transform: rotate(30deg);
}

.racine_opposee {
  position: absolute;
  width: 80vw;
  left: -7vw;
  transform: rotate(15deg);
}

.racine02 {
  position: absolute;
  width: 80vw;
  right: -13vw;
  transform: rotate(30deg);
}

.racine_opposee02 {
  position: absolute;
  width: 80vw;
  left: -7vw;
  transform: rotate(15deg);
}

.feuille_orange01 {
  position: absolute;
  width: 15vw;
  left: 3vw;
  transform: rotate(-17deg);
}

.feuille_orange02 {
  position: absolute;
  width: 18vw;
  left: 40vw;
  transform: rotate(20deg);
}

.feuille_orange03 {
  position: absolute;
  width: 20vw;
  left: 70vw;
  transform: rotate(-30deg);
}

.feuille_svg {
  width: 10vw;
}

.ixy_surpris {
  position: absolute;
  width: 10vw;
  left: 40vw;
  top: 710vh;
}

.ixy_tresor {
  position: absolute;
  top: 758vh;
}

.ixy_paradis {
  position: absolute;
  width: 300px;
  left: 65vh;
}

.ixy_fin {
  position: absolute;
  width: 300px;
}
img {
  margin: 0;
  padding: 0;
  display: block;
}

#chapitre1 {
  background-image: url(../images/svg/homme_falaise.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 100%;
  border: solid 1px rgb(0, 0, 0);
}

#chapitre2 {
  background-image: url(../images/svg/paysage3.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  border: solid 1px rgb(0, 0, 0);
}

#chapitre3 {
  background-image: url(../images/svg/chemin_pierre_ixy_debut.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  border: solid 1px rgb(0, 0, 0);
}

#chapitre4 {
  background-image: url(../images/svg/paysage_chateau_ixy_milieu.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  border: solid 1px rgb(0, 0, 0);
}

#chapitre1 p {
  z-index: 3;
}

#chapitre2 p {
  z-index: 3;
}

#chapitre3 p {
  z-index: 3;
}

#chapitre4 p {
  z-index: 3;
}

#chapitre5 p {
  z-index: 3;
}

#chapitre6 p {
  z-index: 3;
}

#chapitre5 {
  background-image: url(../images/svg/paysage_sans_ixy.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  border: solid 1px rgb(0, 0, 0);
}

#chapitre6 {
  background-image: url(../images/svg/paysage_paradis.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  border: solid 1px rgb(0, 0, 0);
}

#fin {
  background-image: url(../images/svg/ciel.svg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  display: flex;
  justify-content: center;
}

#fin h1 {
  position: absolute;
  font-size: 16vw;
  color: var(--title);
}

#chapitre1 p {
  position: absolute;
  color: var(--histoire);
}

#chapitre2 p {
  position: absolute;
  color: var(--histoire);
}

#chapitre3 p {
  position: absolute;
  color: var(--histoire);
}

#chapitre4 p {
  position: absolute;
  color: var(--histoire);
}

#chapitre5 p {
  position: absolute;
  color: var(--histoire);
}

#chapitre6 p {
  position: absolute;
  color: var(--histoire);
}

#chapitre1 h2 {
  font-size: 3vw;
  padding-left: 3vw;
}

#chapitre2 h2 {
  font-size: 3vw;
  padding-left: 3vw;
}

#chapitre3 h2 {
  font-size: 3vw;
  padding-left: 3vw;
}

#chapitre4 h2 {
  font-size: 3vw;
  padding-left: 3vw;
}

#chapitre4 .spritesheet01 {
  position: absolute;
  top: 687vh;
}

#chapitre5 h2 {
  font-size: 3vw;
  padding-left: 3vw;
}

#chapitre6 h2 {
  font-size: 3vw;
  padding-left: 3vw;
}

section p {
  position: absolute;
  max-width: 50vw;
  padding: 1vw;
  left: 3vw;
  background-color: var(--backgroundsection);
  border-radius: 10px;
}

.spritesheet01 {
  position: absolute;
  width: 503.5px;
  height: 502px;
  top: 310vh;
  scale: 50%;
  left: 15vw;
  background-image: url("../images/png/spritesheet-fantome-foret.png");
  background-repeat: repeat-x;
  background-size: cover;
  animation-play-state: paused;
  animation: ixy_qui_marche 2s steps(32) infinite;
}

@keyframes ixy_qui_marche {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 16110px 0;
  }
}

body.is-scrolling .ixy_qui_marche {
  animation-play-state: running;
}

.ixy_qui_marche {
  width: 10vw;
}

.spritesheet02 {
  position: absolute;
  width: 503.5px;
  height: 502px;
  left: 32vw;
  top: 945vh;
  background-image: url("../images/png/spritesheet-fantome-ciel.png");
  background-repeat: repeat-x;
  background-size: cover;
  animation-play-state: paused;
  animation: ixy_qui_marche 2s steps(32) infinite;
}

@keyframes ixy_qui_vole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 16458px 0;
  }
}

body.is-scrolling .ixy_qui_vole {
  animation-play-state: running;
}

#section-parallax {
  background-image: url("../images/svg/feuille_vole.svg");
  background-size: 100%; /* ou cover */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
}

section#section-parallax {
  display: block;
  height: 120vh;
}
#section-parallax > .inner {
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrolly-texte {
  color: white;
  font-size: 10vmin;
  mix-blend-mode: lighten;
}

#template,
#path {
  fill: none;
  position: absolute;
  left: 30vw;
}
#template {
  stroke-width: 15px;
  stroke: var(--trajet);
}
#path {
  stroke: var(--path);
  stroke-width: 20px;

  stroke-dashoffset: 0.001;
  stroke-dasharray: 0px, 999999px;
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}

#chapitre2 ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 230vh;
  left: 90vw;
}

#chapitre2 ul.technique-gsap li {
  margin: 5px 0;
}

#chapitre3 ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 480vh;
  left: 90vw;
}

#chapitre3 ul.technique-gsap li {
  margin: 5px 0;
}

#chapitre4 ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 610vh;
  left: 90vw;
}

#chapitre4 ul.technique-gsap li {
  margin: 5px 0;
}

#chapitre5 ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 740vh;
  left: 90vw;
}

#chapitre5 ul.technique-gsap li {
  margin: 5px 0;
}

#chapitre6 ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 870.5vh;
  left: 90vw;
}

#chapitre6 ul.technique-gsap li {
  margin: 5px 0;
}

.morph {
  margin-left: 800px;
  margin-top: -420px;
  z-index: 3;
}

#star {
  visibility: hidden;
}

#slider {
  width: 420px;
  margin: 20px auto;
}
